<div class="cafe-admins-list-container">
    <div class="cafe-admin-list-side">
        <h2>School Administrators</h2>
        <button mat-raised-button color="primary" (click)="openAddAdminCard()">Add New Admin</button>
        <mat-list>
            <mat-list-item *ngFor="let admin of schoolAdministrators; let i = index">
                <img matListItemAvatar [src]="admin.profilePic" alt="{{ admin.username }}" class="profile-pic">
                <div matListItemTitle class="admin-name">{{ admin.username }}</div>
                <div matListItemLine class="admin-title">{{ admin.userType }}</div>
                <div class="admin-info">
                </div>
                <div matListItemMeta class="list-actions">
                    <mat-icon class="edit-icon" style="color: blue;" (click)="editAdmin(admin)">edit</mat-icon>
                    <mat-icon class="remove-icon" style="color: red;" (click)="removeAdmin(admin)">delete</mat-icon>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <!-- <div class="cafe-admin-graph-side">
        <h3>Cafe Student Demographics</h3>
        <div class="activity-graph">
            <canvas baseChart [data]="horizontalBarChartData" [options]="horizontalBarChartOptions" chartType="bar">
    </canvas>
        </div>
    </div> -->
</div>