<div class="container">
    <div class="left-section">
        <div class="logo">SMART ID</div>
    </div>
    <div class="right-section">
        <h2 class="title">New Password</h2>
        <p class="subtitle">Enter your New Password.</p>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="passwordFormControl">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" aria-label="Hide password" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is required
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                Password must be at least 8 characters long
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" [formControl]="confirmPasswordFormControl">
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" aria-label="Hide confirm password" [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
            <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                Confirm Password is required
            </mat-error>
            <mat-error *ngIf="confirmPasswordFormControl.hasError('mustMatch')">
                Passwords must match
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="continue-button" (click)="onSubmit()" [disabled]="passwordFormControl.invalid || confirmPasswordFormControl.invalid || passwordFormControl.value !== confirmPasswordFormControl.value">
      Continue
    </button>
    </div>
</div>
