<div *ngIf="!hasScanned" class="page">
    <div class="container">
        <h2>{{"Scan QR Code to Enter The Campus" | translate}}</h2>

        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 my-1">
                <select #select1 (change)="action.playDevice(select1.value)" class="form-select form-select-sm">
      <option [value]="null" selected>{{"Select device" | translate}}</option>
      <option
        *ngFor="let c of action.devices.value; let i = index"
        [value]="c.deviceId"
        [selected]="i == action.deviceIndexActive"
        >{{ c.label }}</option
      >
    </select>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <ngx-scanner-qrcode #action="scanner" [config]="config" (event)="onEvent($event)"></ngx-scanner-qrcode>
            </div>
        </div>

        <p *ngIf="action?.isLoading" class="text-center">{{"Loading" |translate}}...</p>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <button class="btn" [class.btn-info]="!action?.isStart" [class.btn-warning]="action?.isStart" [disabled]="action?.isLoading" (click)="handle(action, action?.isStart ? 'stop' : 'start')">
      <mat-icon *ngIf="!action?.isStart">camera</mat-icon>
      <mat-icon *ngIf="action?.isStart">camera_off</mat-icon>
    </button>
            </div>
        </div>

        <div *ngIf="scanError" class="text-center">
            <p style="color: red;">{{"Scan Error" | translate}}: {{ scanError }}</p>
        </div>

        <div *ngIf="apiResponse" class="text-center">
            <h3>{{"Entry Status" | translate}}:</h3>
            <p>{{ apiResponse?.message }}</p>
            <div *ngIf="apiResponse?.foundUser">
                <h4>{{"User Details" | translate}}:</h4>
                <pre>{{ apiResponse.foundUser | json }}</pre>
            </div>
        </div>

        <div *ngIf="errorMessage" class="text-center">
            <p style="color: red;">Error: {{ errorMessage }}</p>
        </div>
    </div>
</div>


<div *ngIf="hasScanned" class="infoDisplay">
    <button mat-raised-button (click)="reload()">{{"Reload" | translate}}</button>
    <main class="main-content">
        <h1 class="mat-display-1 message-header">{{ apiResponse?.message }}</h1>

        <div *ngIf="apiResponse?.foundUser" class="mat-elevation-z4 user-details-card">
            <div class="user-details-header">
                <img [src]="apiResponse.foundUser.profilePic" alt="Profile Picture" class="profile-picture" />
                <h2 class="mat-headline">{{ apiResponse.foundUser.username }}</h2>
            </div>
            <div class="user-details-body">
                <mat-list>
                    <mat-list-item>
                        <span mat-line>{{"ID" | translate}}:</span>
                        <span mat-line class="secondary-text">{{
                          apiResponse.foundUser.studentId
                          }}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span mat-line>{{"Department" | translate}}:</span>
                        <span mat-line class="secondary-text">{{
                          apiResponse.foundUser.department
                          }}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span mat-line>{{"Phone" | translate}}:</span>
                        <span mat-line class="secondary-text">{{
                          apiResponse.foundUser.phone
                          }}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span mat-line>{{"Gender" | translate}}:</span>
                        <span mat-line class="secondary-text">{{
                          apiResponse.foundUser.gender
                          }}</span>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="user-details-body mt-3">
                <h3 class="mat-subheading-1">{{"User Belongings" |translate}}</h3>
                <div *ngIf="!loading">
                    <ul *ngIf="belongings && belongings.length > 0; else noBelongings">
                        <li *ngFor="let item of belongings">{{ item.serialKey }} <button (click)="deleteItem(item._id)"><mat-icon>delete</mat-icon></button></li>
                    </ul>
                    <ng-template #noBelongings>
                        <p>{{"No belongings found for this user" |translate}}.</p>
                    </ng-template>
                </div>
                <div *ngIf="loading">
                    <p>{{"Loading belongings" | translate}}...</p>
                </div>
            </div>
        </div>
    </main>

    <div class="form">
        <p>{{"Add Belonging" | translate}}</p>
        <form class="add-belonging-form">
            <mat-form-field appearance="outline">
                <mat-label>{{"Serial Key" | translate}}</mat-label>
                <input matInput placeholder="Enter serial key" name="serialKey" #serialKeyInput>
                <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="submitSerialKey(serialKeyInput.value, apiResponse.foundUser._id)">{{"Submit" | translate}}</button>
        </form>
    </div>
</div>