<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
        <mat-toolbar>
            <span class="sidebar-title"> SMART <span class="id-blue">ID</span> </span>
        </mat-toolbar>
        <mat-nav-list class="side-nav-list">
            <mat-list-item *ngFor="let item of sideNavItems" routerLinkActive="active" [routerLink]="item.route" class="menu-item">
                <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
                <span class="menu-label">{{ item.label | translate }}</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
            <!-- <span>Admin Panel</span> -->
            <span class="spacer"></span>

            <!-- <button mat-icon-button (click)="toggleDarkMode()">
        <mat-icon>{{ isDarkMode ? "light_mode" : "dark_mode" }}</mat-icon>
      </button> -->

            <button mat-button [matMenuTriggerFor]="languageMenu">
        {{ currentLanguage.toUpperCase() }}
      </button>
            <mat-menu #languageMenu="matMenu">
                <button mat-menu-item (click)="changeLanguage('en')">EN</button>
                <button mat-menu-item (click)="changeLanguage('am')">አማ</button>
                <button mat-menu-item (click)="changeLanguage('tg')">ትግ</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon> {{ "Profile" | translate }}
      </button>
            <mat-menu #profileMenu="matMenu">
                <button mat-menu-item (click)="openAccountDialog()">
          {{ "Account" | translate }}
        </button>
                <button mat-menu-item (click)="logout()">
          {{ "Logout" | translate }}
        </button>
            </mat-menu>
        </mat-toolbar>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- add admin -->
<div class="add-admin-backdrop" *ngIf="modalService.showAddAdmin" (click)="modalService.closeAdmin()"></div>
<div class="add-admin-card" *ngIf="modalService.showAddAdmin">
    <h2>{{"Add a New Administrator" | translate}}</h2>
    <p class="subtitle">{{"Please fill the form" |translate}}</p>
    <form [formGroup]="addNewAdminFormGroup" class="add-admin-form" (ngSubmit)="addNewAdmin()">
        <mat-form-field appearance="outline">
            <mat-label>{{"Name" | translate}}</mat-label>
            <input matInput type="text" name="username" formControlName="username" required />
            <mat-error *ngIf="addNewAdminFormGroup.get('username')?.hasError('required')">
                {{"Name is required"| translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"User ID" | translate}}</mat-label>
            <input matInput type="text" name="studentId" formControlName="studentId" required />
            <mat-error *ngIf="addNewAdminFormGroup.get('studentId')?.hasError('required')">
                {{"User ID is required" | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Email" |translate}}</mat-label>
            <input matInput type="email" name="email" formControlName="email" required />
            <mat-error *ngIf="addNewAdminFormGroup.get('email')?.hasError('required')">
                {{"Email is required" |translate}}
            </mat-error>
            <mat-error *ngIf="addNewAdminFormGroup.get('email')?.hasError('email')">
                {{"Invalid email address" |translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Phone"| translate}}</mat-label>
            <input matInput type="tel" name="phone" formControlName="phone" required />
            <mat-error *ngIf="addNewAdminFormGroup.get('phone')?.hasError('required')">
                {{"Phone is required" | translate}}
            </mat-error>
            <mat-error *ngIf="addNewAdminFormGroup.get('phone')?.hasError('pattern')">
                {{"Invalid phone number (e.g., 10 digits)" | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Gender" |translate}}</mat-label>
            <mat-select formControlName="gender" required>
                <mat-option value="male">{{"Male" | translate}}</mat-option>
                <mat-option value="female">{{"Female" | translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="addNewAdminFormGroup.get('gender')?.hasError('required')">
                {{"Gender is required" | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Admin Type" |translate}}</mat-label>
            <mat-select formControlName="userType" required>
                <mat-option value="cafe">{{"Cafe Admin" | translate}}</mat-option>
                <mat-option value="school">{{"School Admin" |translate}}</mat-option>
                <mat-option value="gate">{{"Gate Admin" |translate}}</mat-option>
                <mat-option value="registrar">{{"Registrar Admin" | translate}}</mat-option>
                <mat-option value="admin">{{"Super Admin" |translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="addNewAdminFormGroup.get('userType')?.hasError('required')">
                {{"Admin Type is required is required" |translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Password" | translate}}</mat-label>
            <input matInput type="password" name="password" formControlName="password" required />
            <mat-error *ngIf="addNewAdminFormGroup.get('password')?.hasError('required')">
                {{"Password is required" | translate}}
            </mat-error>
            <mat-error *ngIf="addNewAdminFormGroup.get('password')?.hasError('minlength')">
                {{"Password must be at least 8 characters long" | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Confirm Password" | translate}}</mat-label>
            <input matInput type="password" name="confirmPassword" formControlName="confirmPassword" required />
            <mat-error *ngIf="addNewAdminFormGroup.get('confirmPassword')?.hasError('required')">
                {{"Confirm Password is required"| translate}}
            </mat-error>
            <mat-error *ngIf="addNewAdminFormGroup.hasError('mismatch')">
                {{"Passwords do not match"| translate}}
            </mat-error>
        </mat-form-field>

        <div>
            <label for="profilePic">{{"Profile Picture" | translate}}:</label>
            <input (change)="onFileChange($event)" type="file" id="profilePic" name="profilePic" formControlName="profilePic" />
        </div>

        <div class="actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="addNewAdminFormGroup.invalid">
        {{"Add Admin" | translate}}
      </button>
            <button mat-button type="button" (click)="modalService.closeAdmin()">
        {{"Cancel" | translate}}
      </button>
        </div>
    </form>
</div>


<!-- end of add admin -->

<!-- add student -->
<div class="add-student-backdrop" *ngIf="modalService.showAddStudent" (click)="modalService.closeAddStudent()"></div>
<div class="add-student-card" *ngIf="modalService.showAddStudent">
    <h2>{{"Add a New Student" | translate}}</h2>
    <p class="subtitle">{{"Please fill the form"| translate}}</p>
    <form [formGroup]="addNewStudentFormGroup" class="add-student-form" (ngSubmit)="addNewStudent()">
        <mat-form-field appearance="outline">
            <mat-label>{{"Name" | translate}}</mat-label>
            <input matInput type="text" name="username" formControlName="username" required />
            <mat-error *ngIf="addNewStudentFormGroup.get('username')?.hasError('required')">
                {{"Name is required" | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Student ID" | translate}}</mat-label>
            <input matInput type="text" name="studentId" formControlName="studentId" required />
            <mat-error *ngIf="addNewStudentFormGroup.get('studentId')?.hasError('required')">
                {{"Student ID is required" | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Email" | translate}}</mat-label>
            <input matInput type="email" name="email" formControlName="email" required />
            <mat-error *ngIf="addNewStudentFormGroup.get('email')?.hasError('required')">
                {{"Email is required" | translate}}
            </mat-error>
            <mat-error *ngIf="addNewStudentFormGroup.get('email')?.hasError('email')">
                {{"Invalid email address" | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Phone" | translate}}</mat-label>
            <input matInput type="tel" name="phone" formControlName="phone" required />
            <mat-error *ngIf="addNewStudentFormGroup.get('phone')?.hasError('required')">
                {{"Phone is required" | translate}}
            </mat-error>
            <mat-error *ngIf="addNewStudentFormGroup.get('phone')?.hasError('pattern')">
                {{"Invalid phone number (e.g., 10 digits)" | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Gender" |translate}}</mat-label>
            <mat-select formControlName="gender" required>
                <mat-option value="male">{{"Male"|translate}}</mat-option>
                <mat-option value="female">{{"Female"|translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="addNewStudentFormGroup.get('gender')?.hasError('required')">
                {{"Gender is required"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Cafe Status" | translate}}</mat-label>
            <mat-select formControlName="cafeStatus" required>
                <mat-option value="cafe">{{"Cafe" | translate}}</mat-option>
                <mat-option value="nonCafe">{{"Non Cafe" | translate}}</mat-option>
                <mat-option value="selfsponsored">{{"Self Sponsored" | translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="addNewStudentFormGroup.get('cafeStatus')?.hasError('required')">
                {{"Cafe Status is required" | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Password" | translate}}</mat-label>
            <input matInput type="password" name="password" formControlName="password" required />
            <mat-error *ngIf="addNewStudentFormGroup.get('password')?.hasError('required')">
                {{"Password is required"| translate}}
            </mat-error>
            <mat-error *ngIf="addNewStudentFormGroup.get('password')?.hasError('minlength')">
                {{"Password must be at least 8 characters long" | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Confirm Password" | translate}}</mat-label>
            <input matInput type="password" name="confirmPassword" formControlName="confirmPassword" required />
            <mat-error *ngIf="addNewStudentFormGroup.get('confirmPassword')?.hasError('required')">
                {{"Confirm Password is required" | translate}}
            </mat-error>
            <mat-error *ngIf="addNewStudentFormGroup.hasError('mismatch')">
                {{"Passwords do not match" | translate}}
            </mat-error>
        </mat-form-field>

        <div>
            <label for="profilePic">{{"Profile Picture" | translate}}:</label>
            <input (change)="onFileChange($event)" type="file" id="profilePic" name="profilePic" formControlName="profilePic" />
        </div>

        <mat-form-field appearance="outline">
            <mat-label>{{"Department" | translate}}</mat-label>
            <mat-select formControlName="department" required>
                <mat-option value="electrical">Electrical and Computer Engineering</mat-option>
                <mat-option value="mechanical">Mechanical Engineering</mat-option>
                <mat-option value="industrial">Industrial Engineering</mat-option>
                <mat-option value="manufacturing">Manufacturing Engineering</mat-option>
                <mat-option value="civil">Civil Engineering</mat-option>
                <mat-option value="urban">Urban Planning</mat-option>
            </mat-select>
            <mat-error *ngIf="addNewStudentFormGroup.get('department')?.hasError('required')">
                {{"Department is required" | translate}}
            </mat-error>
        </mat-form-field>

        <div class="actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="addNewStudentFormGroup.invalid">
        {{"Add Student" | translate}}
      </button>
            <button mat-button type="button" (click)="modalService.closeAddStudent()">
        {{"Cancel" | translate}}
      </button>
        </div>
    </form>
</div>

<!-- end of add student -->

<!-- edit student -->
<div class="edit-student-backdrop" *ngIf="modalService.showEditStudent" (click)="modalService.closeEditStudent()"></div>
<div class="edit-student-card" *ngIf="modalService.showEditStudent">
    <h2>{{"Update Student Profile"|translate}}</h2>
    <p class="subtitle">{{"Please fill the form"|translate}}</p>
    <form [formGroup]="editStudentFormGroup" class="edit-student-form" (ngSubmit)="editStudent()">
        <mat-form-field appearance="outline">
            <mat-label>{{"Name"|translate}}</mat-label>
            <input matInput type="text" name="username" formControlName="username" required />
            <mat-error *ngIf="editStudentFormGroup.get('username')?.hasError('required')">
                {{"Name is required"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Student ID"|translate}}</mat-label>
            <input matInput type="text" name="studentId" formControlName="studentId" required />
            <mat-error *ngIf="editStudentFormGroup.get('studentId')?.hasError('required')">
                {{"Student ID is required"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Email"|translate}}</mat-label>
            <input matInput type="email" name="email" formControlName="email" required />
            <mat-error *ngIf="editStudentFormGroup.get('email')?.hasError('required')">
                {{"Email is required"|translate}}
            </mat-error>
            <mat-error *ngIf="editStudentFormGroup.get('email')?.hasError('email')">
                {{"Invalid email address"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Phone"|translate}}</mat-label>
            <input matInput type="tel" name="phone" formControlName="phone" required />
            <mat-error *ngIf="editStudentFormGroup.get('phone')?.hasError('required')">
                {{"Phone is required"|translate}}
            </mat-error>
            <mat-error *ngIf="editStudentFormGroup.get('phone')?.hasError('pattern')">
                {{"Invalid phone number (e.g., 10 digits)"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Gender"|translate}}</mat-label>
            <mat-select formControlName="gender" required>
                <mat-option value="male">{{"Male"|translate}}</mat-option>
                <mat-option value="female">{{"Female"|translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="editStudentFormGroup.get('gender')?.hasError('required')">
                {{"Gender is required"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Cafe Status"|translate}}</mat-label>
            <mat-select formControlName="cafeStatus" required>
                <mat-option value="cafe">{{"Cafe"|translate}}</mat-option>
                <mat-option value="nonCafe">{{"Non Cafe"|translate}}</mat-option>
                <mat-option value="selfsponsored">{{"Self Sponsored"|translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="editStudentFormGroup.get('cafeStatus')?.hasError('required')">
                {{"Cafe Status is required"|translate}}
            </mat-error>
        </mat-form-field>

        <div>
            <label for="profilePic">{{"Profile Picture"|translate}}:</label>
            <input (change)="onFileChange($event)" type="file" id="profilePic" name="profilePic" formControlName="profilePic" />

            <div *ngIf="profilePicUrl" style="margin-top: 10px;">
                <img [src]="profilePicUrl" alt="Current Profile Picture Preview" style="max-width: 100px; max-height: 100px; border-radius: 50%; object-fit: cover;">
            </div>
            <div *ngIf="!profilePicUrl && (addNewStudentFormGroup.get('profilePic')?.value || addNewAdminFormGroup.get('profilePic')?.value || editStudentFormGroup.get('profilePic')?.value || editAdminFormGroup.get('profilePic')?.value)">
                {{"No new profile picture selected"|translate}}.
            </div>
            <div *ngIf="!profilePicUrl && !(addNewStudentFormGroup.get('profilePic')?.value || addNewAdminFormGroup.get('profilePic')?.value || editStudentFormGroup.get('profilePic')?.value || editAdminFormGroup.get('profilePic')?.value)">
                {{"No profile picture selected"|translate}}.
            </div>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>{{"Department"|translate}}</mat-label>
            <mat-select formControlName="department" required>
                <mat-option value="electrical">Electrical and Computer Engineering</mat-option>
                <mat-option value="mechanical">Mechanical Engineering</mat-option>
                <mat-option value="industrial">Industrial Engineering</mat-option>
                <mat-option value="manufacturing">Manufacturing Engineering</mat-option>
                <mat-option value="civil">Civil Engineering</mat-option>
                <mat-option value="urban">Urban Planning</mat-option>
            </mat-select>
            <mat-error *ngIf="editStudentFormGroup.get('department')?.hasError('required')">
                {{"Department is required"|translate}}
            </mat-error>
        </mat-form-field>

        <div class="actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="editStudentFormGroup.invalid">
    {{"Update Student"|translate}}
  </button>
            <button mat-button type="button" (click)="modalService.closeEditStudent()">
    {{"Cancel"|translate}}
  </button>
        </div>
    </form>
</div>
<!-- end of edit student -->


<!-- edit profile -->
<div class="edit-profile-backdrop" *ngIf="modalService.showEditProfile" (click)="modalService.closeEditProfile()"></div>
<div class="edit-profile-card" *ngIf="modalService.showEditProfile">
    <h2>{{"Profile"|translate}}</h2>
    <p class="subtitle">{{"Edit your profile here"|translate}}</p>
    <form [formGroup]="editAdminFormGroup" class="edit-profile-form" (ngSubmit)="editAdmin()">
        <mat-form-field appearance="outline">
            <mat-label>{{"Name"|translate}}</mat-label>
            <input matInput type="text" name="username" formControlName="username" required />
            <mat-error *ngIf="editAdminFormGroup.get('username')?.hasError('required')">
                {{"Name is required"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"User ID"|translate}}</mat-label>
            <input matInput type="text" name="studentId" formControlName="studentId" required />
            <mat-error *ngIf="editAdminFormGroup.get('studentId')?.hasError('required')">
                {{"User ID is required"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Email"|translate}}</mat-label>
            <input matInput type="email" name="email" formControlName="email" required />
            <mat-error *ngIf="editAdminFormGroup.get('email')?.hasError('required')">
                {{"Email is required"|translate}}
            </mat-error>
            <mat-error *ngIf="editAdminFormGroup.get('email')?.hasError('email')">
                {{"Invalid email address"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Phone"|translate}}</mat-label>
            <input matInput type="tel" name="phone" formControlName="phone" required />
            <mat-error *ngIf="editAdminFormGroup.get('phone')?.hasError('required')">
                {{"Phone is required"|translate}}
            </mat-error>
            <mat-error *ngIf="editAdminFormGroup.get('phone')?.hasError('pattern')">
                {{"Invalid phone number (e.g., 10 digits)"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Gender"|translate}}</mat-label>
            <mat-select formControlName="gender" required>
                <mat-option value="male">{{"Male"|translate}}</mat-option>
                <mat-option value="female">{{"Female"|translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="editAdminFormGroup.get('gender')?.hasError('required')">
                {{"Gender is required"|translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Admin Type"|translate}}</mat-label>
            <mat-select formControlName="userType" required>
                <mat-option value="cafe">{{"Cafe Admin"|translate}}</mat-option>
                <mat-option value="school">{{"School Admin"|translate}}</mat-option>
                <mat-option value="gate">{{"Gate Admin"|translate}}</mat-option>
                <mat-option value="registrar">{{"Registrar Admin"|translate}}</mat-option>
                <mat-option value="admin">{{"Super Admin"|translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="editAdminFormGroup.get('userType')?.hasError('required')">
                {{"Admin Type is required is required"|translate}}
            </mat-error>
        </mat-form-field>

        <div>
            <label for="profilePic">{{"Profile Picture"|translate}}:</label>
            <input (change)="onFileChange($event)" type="file" id="profilePic" name="profilePic" formControlName="profilePic" />

            <div *ngIf="profilePicUrl" style="margin-top: 10px;">
                <img [src]="profilePicUrl" alt="Current Profile Picture Preview" style="max-width: 100px; max-height: 100px; border-radius: 50%; object-fit: cover;">
            </div>
            <div *ngIf="!profilePicUrl && (addNewStudentFormGroup.get('profilePic')?.value || addNewAdminFormGroup.get('profilePic')?.value || editStudentFormGroup.get('profilePic')?.value || editAdminFormGroup.get('profilePic')?.value)">
                {{"No new profile picture selected"|translate}}.
            </div>
            <div *ngIf="!profilePicUrl && !(addNewStudentFormGroup.get('profilePic')?.value || addNewAdminFormGroup.get('profilePic')?.value || editStudentFormGroup.get('profilePic')?.value || editAdminFormGroup.get('profilePic')?.value)">
                {{"No profile picture selected"|translate}}.
            </div>
        </div>

        <div class="actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="editAdminFormGroup.invalid">
    {{"Update Profile"|translate}}
  </button>
            <button mat-button type="button" (click)="modalService.closeEditProfile()">
    {{"Cancel"|translate}}
  </button>
        </div>
    </form>
</div>

<!-- end of edit profile -->

<!-- add notice -->
<div class="add-notice-backdrop" *ngIf="modalService.showAddNotice" (click)="modalService.closeAddNotice()"></div>
<div class="add-notice-card" *ngIf="modalService.showAddNotice">
    <h2>{{"Add a New Notice" | translate}}</h2>
    <p class="subtitle">{{"Please fill the form" | translate}}</p>
    <form [formGroup]="addNewNoticeFormGroup" class="add-notice-form" (ngSubmit)="addNewNotice()">

        <mat-form-field appearance="outline">
            <mat-label>{{"Title" | translate}}</mat-label>
            <input matInput type="text" name="title" formControlName="title" required/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Description" | translate}}</mat-label>
            <input matInput type="text" name="description" formControlName="description" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select name="category" class="mat-select-panel" formControlName="category" required>
                <mat-option value="cafe">{{"Cafe"| translate}}</mat-option>
                <mat-option value="gate">{{"Gate" | translate}}</mat-option>
                <mat-option value="school">{{"School"| translate}}</mat-option>
                <mat-option value="registrar">{{"Registrar" | translate}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="actions">
            <button mat-raised-button color="primary" type="submit">{{"Add Notice"|translate}}</button>
            <button mat-button type="button" (click)="modalService.closeAddNotice()">
        {{"Cancel" | translate}}
      </button>
        </div>
    </form>
</div>

<!-- end of add notice -->

<!-- edit notice -->
<div class="edit-notice-backdrop" *ngIf="modalService.showEditNotice" (click)="modalService.closeEditNotice()"></div>
<div class="edit-notice-card" *ngIf="modalService.showEditNotice">
    <h2>{{"Update Notice"|translate}}</h2>
    <p class="subtitle">{{"Please fill the form" | translate}}</p>
    <form [formGroup]="editNoticeFormGroup" class="edit-notice-form" (ngSubmit)="editNotice()">
        <mat-form-field appearance="outline">
            <mat-label>{{"Title" | translate}}</mat-label>
            <input matInput type="text" name="title" formControlName="title" required/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Description" | translate}}</mat-label>
            <input matInput type="text" name="description" formControlName="description" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{"Category" | translate}}</mat-label>
            <mat-select name="category" class="mat-select-panel" formControlName="category" required>
                <mat-option value="cafe">{{"Cafe" | translate}}</mat-option>
                <mat-option value="gate">{{"Gate" | translate}}</mat-option>
                <mat-option value="school">{{"School"| translate}}</mat-option>
                <mat-option value="registrar">{{"Registrar"| translate}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="actions">
            <button mat-raised-button color="primary" type="submit">{{"Save" | translate}}</button>
            <button mat-button type="button" (click)="modalService.closeEditNotice()">
        {{"Cancel" | translate}}
      </button>
        </div>
    </form>
</div>

<!-- end of edit notice -->
