<div class="admins-list-container">
    <div class="admin-list-side">
        <h2>{{"Administrators" | translate}}</h2>
        <mat-list class="mat-list">
            <mat-list-item *ngFor="let admin of administrators; let i = index">
                <img matListItemAvatar [src]="admin.profilePic" alt="{{ admin.username }}" class="profile-pic">
                <div matListItemTitle class="admin-name">{{ admin.username }}</div>
                <div matListItemLine class="admin-role">{{ admin.userType }}</div>
                <div class="admin-info">
                </div>
                <span matListItemMeta class="list-index">{{ i + 1 }}</span>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="admin-graph-side">
        <h3>{{"Admin Activities Per Month" | translate}}</h3>
        <div class="activity-graph">
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" chartType="bar">
      </canvas>
        </div>
    </div>
</div>
